<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="dashboard-page">

    <div class="dashboard-container">

        <div class="dashboard-top">
            <h1>LIFE SYSTEM</h1>
            <p>Dashboard</p>
        </div>

        <div class="dashboard-grid">

            <div class="dashboard-card">
                <h2>Today's Plan</h2>

                <p>
                    Add your planned tasks for today.
                </p>

                <a href="/add_plan">
                    <button>
                        Add Plan
                    </button>
                </a>
            </div>

            <div class="dashboard-card">
                <h2>Today's Actual</h2>

                <p>
                    Update what actually happened today.
                </p>

                <a href="/update_actual">
                    <button>
                        Update Actual
                    </button>
                </a>
            </div>

        </div>

        <a href="/logout">
            <button class="logout-btn">
                Logout
            </button>
        </a>

    </div>

</body>

</html>