<!DOCTYPE html>
<html>

<head>

    <title>Register</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body class="register-page">

    <div class="container">

        <h1>LIFE SYSTEM</h1>

        <h2>Create Account</h2>

        {% if error %}

            <div class="error">
                {{ error }}
            </div>

        {% endif %}

        <form method="POST">

            <input
                type="text"
                name="name"
                placeholder="Full Name"
                required
            >

            <input
                type="email"
                name="email"
                placeholder="Email"
                required
            >

            <div class="password-box">

                <input
                    type="password"
                    name="password"
                    id="registerPassword"
                    placeholder="Password"
                    required
                >

                <span class="show-toggle" onclick="toggleRegisterPassword()">
                    SHOW
                </span>

            </div>

            <button type="submit">
                Register
            </button>

        </form>

        <br>

        <a href="/login">
            Already have an account?
        </a>

    </div>

    <script>

    function toggleRegisterPassword() {

        let password =
            document.getElementById("registerPassword");

        if (password.type === "password") {
            password.type = "text";
        }

        else {
            password.type = "password";
        }
    }

    </script>

</body>
</html>